
// @media (min-width: 601px) {
//     *{
//         padding: 0;
//         margin: 0;
//         box-sizing: border-box;
//     }
//     .header{
//         display: block;
//         width: 100%;
//         position: fixed;
//         z-index: 9999;
        
        



        
//         .nav1{
//             // width: 100%;
//             padding: 10px;
//             padding-left: 50px;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             position: sticky;

//             .logo{
//                 // padding: 10px;
//                 justify-content: center;
//                 align-self: center;
//             }
//             .search{
//                 display: none;
//             }
//             .nav-btn{
//                 display: none;
//             }

//             .tgler{
//                 // border: 1px solid black;
//                 display: block;
//                 height: 40px;
//                 width: 40px;
//                 // padding: 10px;
//                 z-index: 9999;

//                 .listmenu{
//                     display: none;
//                    position: absolute;
//                    height: 200px;
//                    width: 100%;
//                    padding: 1px;
//                 //    border: 1px solid red;
//                    left: 0;
//                    background: $nav2;
//                    z-index: 9999;



                      
                   
//                    ul{
//                     display: block;
//                        text-align: right;
//                        font-size: 20px;
//                        font-family: 'DM Sans';
//                        font-weight: 700;
//                        line-height: 200%;
                       
//                          li{
//                             list-style-type: none;
//                         }

//                         a{
//                             text-decoration: none;
//                             color: $btncolor

//                         }
//                 }
//                }

//                 // &__toggler{
//                 //     position: absolute;
//                 //     cursor: pointer;
//                 // }
//                 input[type=checkbox]{
//                     display: none;

                   
//                 }
//                 svg{
//                     width: 1.5rem;
//                     height: 2rem;
//                     // transform: translateY(90%);
//                 }
//                 .close{
//                     display: none;
//                 }
//                 &:hover .listmenu{
//                     display: block;
//                 }
               
              
//             }

           
           
//         }
//         .nav2{
//             display: none;
//         }
//         .nav3{
//             display: none;
//         }
//     }



//     .hero{
//         display: block;
//         width: 95%;
//         margin: auto;
//         height: 60%;
//         // border: 1px solid black;
//         // padding: 10px;
//         position: relative;
//         .container{
//             display: flex;
//             justify-content: space-between;
//             // gap: 10px;
//             .txt{
//                 h1{
//                     display: none;
//                 }
//                 h4{
//                     display: none;
//                 }
//                 a{
//                     display: inline;
//                     transform: translateY(370%);
//                 }
              
//             }
//             .hero_img{
//                 gap: -10px;
//                 width: 50%;
//                 // position: relative;
             
//                 z-index: -900;
//                 img{
//                     height: 70%;
//                     width: 45%;
//                     // transform: translateY(0%);
//                 }
              
//                 svg{
//                     display: none;
//                 }
//             }
//         }
//     }

//     .aside{
//         visibility: hidden;
//         // left: -500px;
//         .container{
//             display: hidden;
//             ul{
//                 display: none;

//                 li{
//                     display: hidden;
//                 }
//             }
//         }
//     }

   
//     .Optimum_deals{
//         display: block;
//         position: absolute;
//         height: 50%;
//         // border: 1px solid black;
//         .container{
          

//             .cards{
//                 .card-img{
//                    img{
//                     height: 100px;
//                     width: 90px;
//                    }
//                 }
//             }
//         }

//     }

//     .Great_Offers{
//         .more{
//             display: none;
//         }
//     }

//     .Premium_Deals{
//         display: block;
//         .container{
//             display: block;
//             .grid1{
//                 display: flex;
//                 flex-direction: column-reverse;
              
//                 overflow: hidden;
//                 .txt{
//                     // border: 1px solid red;
//                     display: inline;
                    
//                         h2, p{
//                             font-size: 1em;
//                         }
//                         a{
//                             width: 5rem;
//                             padding: 0%;
//                         }

                    
//                 }
//                 .imgpart{
//                     //  border: 1px solid black;
//                     img{
//                         height:200px;
//                         max-width: 460px;
//                         transform: translate(0%,80%);
//                     }
//                 }
//             }
//         }
//     }

//     .app_section{
//         height: 20%;
//         .container{
//             .txt{
//                 h1,p{
//                     font-size: 15px;
//                     line-height: 200%;
//                 }
              
        
//             }
//             .hero_img{
//                 padding: 1%;
//                 #app{
//                     height: 150px;
//                     width: 100px;
//                 }
//             }
//         }
//     }
//     .news{
//         display: none;
//     }
//     .footer{
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         // overflow: scroll;
//         align-items: center;
//         justify-content: center;

//         .cols{
//             display: flex;
//             // flex-direction: column;
//             transform: translate(0%,0%);
//             gap: 10px;

//             font-size: 10px;
//             line-height: 150%;
//         }

//         .footer_img{
//             transform: translate(-200%,0%);
//         }
//         span{
//             transform: translate(-390%,0%);
//         }
//     }



// }
@media (max-width: 1000px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .header{
        display: block;
        width: 100%;
        position: fixed;
        z-index: 9999;
        
        



        
        .nav1{
            // width: 100%;
            padding: 10px;
            padding-left: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;

            .logo{
                // padding: 10px;
                justify-content: center;
                align-self: center;
            }
            .search{
                display: none;
            }
            .nav-btn{
                display: none;
            }

            .tgler{
                // border: 1px solid black;
                display: block;
                height: 40px;
                width: 40px;
                // padding: 10px;
                z-index: 9999;

                .listmenu{
                    display: none;
                   position: absolute;
                   height: 200px;
                   width: 100%;
                   padding: 1px;
                //    border: 1px solid red;
                   left: 0;
                   background: $nav2;
                   z-index: 9999;



                      
                   
                   ul{
                    display: block;
                       text-align: right;
                       font-size: 20px;
                       font-family: 'DM Sans';
                       font-weight: 700;
                       line-height: 200%;
                       
                         li{
                            list-style-type: none;
                        }

                        a{
                            text-decoration: none;
                            color: $btncolor

                        }
                }
               }

                // &__toggler{
                //     position: absolute;
                //     cursor: pointer;
                // }
                input[type=checkbox]{
                    display: none;

                   
                }
                svg{
                    width: 1.5rem;
                    height: 2rem;
                    // transform: translateY(90%);
                }
                .close{
                    display: none;
                }
                &:hover .listmenu{
                    display: block;
                }
               
              
            }

           
           
        }
        .nav2{
            display: none;
        }
        .nav3{
            display: none;
        }
    }



    .hero{
        display: block;
        width: 95%;
        margin: auto;
        height: 60%;
        // border: 1px solid black;
        // padding: 10px;
        position: relative;
        .container{
            display: flex;
            justify-content: space-between;
            // gap: 10px;
            .txt{
                h1{
                    display: none;
                }
                h4{
                    display: none;
                }
                a{
                    display: inline;
                    transform: translateY(370%);
                }
              
            }
            .hero_img{
                gap: -10px;
                width: 50%;
                // position: relative;
             
                z-index: -900;
                img{
                    height: 70%;
                    width: 45%;
                    // transform: translateY(0%);
                }
              
                svg{
                    display: none;
                }
            }
        }
    }

    .aside{
        visibility: hidden;
        // left: -500px;
        .container{
            display: hidden;
            ul{
                display: none;

                li{
                    display: hidden;
                }
            }
        }
    }

   
    .Optimum_deals{
        display: block;
        position: absolute;
        height: 50%;
        // border: 1px solid black;
        .container{
          

            .cards{
                .card-img{
                   img{
                    height: 100px;
                    width: 90px;
                   }
                }
            }
        }

    }

    .Great_Offers{
        .more{
            display: none;
        }
    }

    .Premium_Deals{
        display: block;
        .container{
            display: block;
            .grid1{
                display: flex;
                flex-direction: column-reverse;
              
                overflow: hidden;
                .txt{
                    // border: 1px solid red;
                    display: inline;
                    
                        h2, p{
                            font-size: 1em;
                        }
                        a{
                            width: 5rem;
                            padding: 0%;
                        }

                    
                }
                .imgpart{
                    //  border: 1px solid black;
                    img{
                        height:200px;
                        max-width: 460px;
                        transform: translate(0%,80%);
                    }
                }
            }
        }
    }

    .app_section{
        height: 20%;
        .container{
            .txt{
                h1,p{
                    font-size: 15px;
                    line-height: 200%;
                }
              
        
            }
            .hero_img{
                padding: 1%;
                #app{
                    height: 150px;
                    width: 100px;
                }
            }
        }
    }
    .news{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        // overflow: scroll;
        align-items: center;
        justify-content: center;

        .cols{
            display: flex;
            // flex-direction: column;
            transform: translate(0%,0%);
            gap: 10px;

            font-size: 10px;
            line-height: 150%;
        }

        .footer_img{
            transform: translate(-200%,0%);
        }
        span{
            transform: translate(-390%,0%);
        }
    }



}
@media (max-width: 600px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .header{
        display: block;
        width: 100%;
        position: fixed;
        z-index: 9999;
        



        
        .nav1{
            // width: 100%;
            padding: 10px;
            padding-left: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;

            .logo{
                // padding: 10px;
                justify-content: center;
                align-self: center;
            }
            .search{
                display: none;
            }
            .nav-btn{
                display: none;
            }

            .tgler{
                // border: 1px solid black;
                display: block;
                height: 40px;
                width: 40px;
                // padding: 10px;
                z-index: 9999;

                .listmenu{
                    display: none;
                   position: absolute;
                   height: 190px;
                   width: 100%;
                //    border: 1px solid red;
                    left: 0;
                   background: $nav2;
                   z-index: 9999;



                      
                   
                   ul{
                    display: block;
                       text-align: right;
                       font-size: 20px;
                       font-family: 'DM Sans';
                       font-weight: 700;
                       line-height: 200%;
                       
                         li{
                            list-style-type: none;
                        }

                        a{
                            text-decoration: none;
                            color: $btncolor

                        }
                }
               }

                // &__toggler{
                //     position: absolute;
                //     cursor: pointer;
                // }
                input[type=checkbox]{
                    display: none;

                   
                }
                svg{
                    width: 1.5rem;
                    height: 2rem;
                    // transform: translateY(90%);
                }
                .close{
                    display: none;
                }
                &:hover .listmenu{
                    display: block;
                }
               
              
            }

           
           
        }
        .nav2{
            display: none;
        }
        .nav3{
            display: none;
        }
    }



    .hero{
        display: block;
        width: 95%;
        margin: auto;
        height: 40%;
        // padding: 10px;
        position: relative;
        .container{
            display: flex;
            justify-content: space-between;
            // gap: 10px;
            .txt{
                h1{
                    display: none;
                }
                h4{
                    display: none;
                }
                a{
                    display: inline;
                    transform: translateY(370%);
                }
              
            }
            .hero_img{
                gap: -10px;
                width: 50%;
                position: relative;
             
                z-index: -900;
                img{
                    height: 70%;
                    width: 80%;
                    transform: translateY(20%);
                }
              
                svg{
                    display: none;
                }
            }
        }
    }

    .aside{
        visibility: hidden;
        // left: -500px;
        .container{
            display: hidden;
            ul{
                display: none;

                li{
                    display: hidden;
                }
            }
        }
    }

   
    .Optimum_deals{
        display: block;
        position: absolute;
        height: 50%;
        // border: 1px solid black;
        .container{
          

            .cards{
                .card-img{
                   img{
                    height: 90px;
                    width: 70px;
                   }
                }
            }
        }

    }

    .Great_Offers{
        .more{
            display: none;
        }
    }

    .Premium_Deals{
        display: block;
        .container{
            display: block;
            .grid1{
                display: flex;
                flex-direction: column-reverse;
              
                overflow: hidden;
                .txt{
                    // border: 1px solid red;
                    display: inline;
                    
                        h2, p{
                            font-size: 1em;
                        }
                        a{
                            width: 5rem;
                            padding: 0%;
                        }

                    
                }
                .imgpart{
                    //  border: 1px solid black;
                    img{
                        height: 200px;
                        width: 250px;
                        transform: translate(-6%,90%);
                    }
                }
            }
        }
    }

    .app_section{
        height: 20%;
        .container{
            .txt{
                h1,p{
                    font-size: 15px;
                    line-height: 200%;
                }
              
        
            }
            .hero_img{
                padding: 1%;
                #app{
                    height: 150px;
                    width: 100px;
                }
            }
        }
    }
    .news{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        // overflow: scroll;
        align-items: center;
        justify-content: center;

        .cols{
            display: flex;
            // flex-direction: column;
            transform: translate(0%,0%);
            gap: 10px;

            font-size: 10px;
            line-height: 150%;
        }

        .footer_img{
            transform: translate(-200%,0%);
        }
        span{
            transform: translate(-390%,0%);
        }
    }



}
